* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "Gordita-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "GT-Gordita", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #000;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
}
.flex-wrapper {
	display: flex;
	justify-content: space-between;
}
#home{
    background: url(/bg_image.png) no-repeat ;
	background-size: cover;
	width: 100%;
}
#home section.wrapper{

}
#home header{
    padding: 15px 20px;
	display: flex;
    justify-content: space-between;

}
#home header div.left span{
    padding: 15px 20px;
	display: flex;
    justify-content: space-between;
    font-size: 40px;
    font-weight: 600;
    margin-left: 25px;	
}
#home header nav.middle{
	padding: 20px;
}
#home header nav.middle ul{
    display: flex;
    justify-content: space-between;
}
#home header nav.middle ul li{
	margin-right: 82px;
    font-size: 22px;
    font-weight: 600;
}
#home header  ul.right{
    display: flex;
    justify-content: space-between;
}
#home header  ul.right li{
   display: block;

}
#home header  ul.right li a{

}
#home header  ul.right li a img{

}
#home section #spotlight{
    display: flex;
    justify-content: space-between;

}
#home section #spotlight div.left{
	margin-top: 60px;
    margin-left: 80px;
	width: 65%;
}
#home section #spotlight div.left h3{
	display: flex;
}
#home section #spotlight div.left h3 span{
	font-weight: 600;
    font-size: 30px;
    color: #4895A5;
}
#home section #spotlight div.left h3 div{
	width: 7%;
    display: block;
    margin-top: -17px;
}
#home section #spotlight div.left h3 div img{
	width: 100%;
	display: block;
}
#home section #spotlight div.left h1 {
	font-size: 104px;
    width: 75%;
}
#home section #spotlight div.left h1 span{
	color: #4895a5;
}
#home section #spotlight div.left p{
	width: 52%;
    margin-top: 45px;
    font-size: 20px;
    margin-bottom: 50px;
}
#home section #spotlight div.left a{
	background: #EA542F;
    font-size: 23px;
    font-weight: 500;
    border-radius: 6px;
    padding: 15px 35px;
    color: #fff;
}
#home section #spotlight div.left ul{
	margin-top: 60px;
	display: flex;
    margin-top: 60px;
}
#home section #spotlight div.left ul li{
	font-size: 22px;
    font-weight: 600;
    width: 34%;
}
#home section #spotlight div.left ul li h4{
	font-weight: 600;
	margin-bottom: 10px;
}
#home section #spotlight div.left ul li p2{
	font-size: 17px;
}
#home section #spotlight div.right{
	width: 32%;
    display: block;
    margin-top: 20px;
}
#home section #spotlight div.right img{
    width: 100%;
	display: block;
}
#About {
	display: flex;
	justify-content: space-between;
	padding: 120px 135px;
	align-items: center;
}
#About div.left{
	display: flex;
	justify-content: space-between;
}
#About div.left div.box{
	
}
#About div.left div.box img{
	border-radius: 20px;
}
#About div.left div.box2{
	margin-left: 50px;
	
} 
#About div.left div.box2 {
	
}
#About div.left div.box2 div.image1{
	margin-bottom: 45px;
	

}
#About div.left div.box2 div.image1 img{
	display: block;
	width: 100%;
	border-radius: 20px;
}
#About div.left div.box2 div.image2{
	

}
#About div.left div.box2 div.image2 img{
	display: block;
	width: 100%;
	border-radius: 20px;
}
#About div.right{
	width: 45%;

}
#About div.right h1{
	font-size: 80px;

}
#About div.right p{
	margin-top: 80px;
	width: 80%;
	font-size: 28px;
	margin-bottom: 66px;
	color: #747474;

}
#About div.right a.button{
	background-color: #EA542F;
	color: #fff;
	border-radius: 10px;
	padding: 17px 46px;
	font-size: 22px;
}
#middle{
	padding: 120px 135px;
	display: flex;
	justify-content: space-between;

}
#middle div.left{
	width: 48%;
	padding: 25px;
}
#middle div.left  h1{
	font-size: 70px;
    font-weight: 600;
    margin-bottom: 45px;
}
#middle div.left p{
	color: #747474;
    font-size: 26px;
    margin-bottom: 47%
}
#middle div.left img{
	width: 100%;
	display: block;
	border-radius: 20px;
}
#middle div.right{
	width: 48%;
	padding: 25px;
}
#middle div.right img{
	width: 100%;
	display: block;
	border-radius: 20px;
	margin-bottom: 150px;
}
#middle div.right h1{
	font-size: 70px;
    font-weight: 600;
    margin-bottom: 45px;
}
#middle div.right p{
	color: #747474;
    font-size: 26px;
    margin-bottom: 15%

}
#middle div.right a.button{
	background-color: #EA542F;
	color: #fff;
	border-radius: 10px;
	padding: 17px 46px;
	font-size: 22px;
}


