* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "Gordita-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "GT-Gordita", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #000;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
}
.flex-wrapper {
	display: flex;
	justify-content: space-between;
}
#home{
    background: url(/bg_image.png) no-repeat ;
	background-size: cover;
	width: 100%;
}
#home section.wrapper{

}
#home header{
    padding: 15px 20px;
	display: flex;
    justify-content: space-between;

}
#home header div.left span{
    padding: 15px 20px;
	display: flex;
    justify-content: space-between;
    font-size: 40px;
    font-weight: 600;
    margin-left: 25px;	
}
#home header nav.middle{
	padding: 20px;
}
#home header nav.middle ul{
    display: flex;
    justify-content: space-between;
}
#home header nav.middle ul li{
	margin-right: 82px;
    font-size: 22px;
    font-weight: 600;
}
#home header  ul.right{
    display: flex;
    justify-content: space-between;
}
#home header  ul.right li{
   display: block;

}
#home header  ul.right li a{

}
#home header  ul.right li a img{

}
#home section #spotlight{
    display: flex;
    justify-content: space-between;

}
#home section #spotlight div.left{
	margin-top: 60px;
    margin-left: 80px;
	width: 65%;
}
#home section #spotlight div.left h3{
	display: flex;
}
#home section #spotlight div.left h3 span{
	font-weight: 600;
    font-size: 30px;
    color: #4895A5;
}
#home section #spotlight div.left h3 div{
	width: 7%;
    display: block;
    margin-top: -17px;
}
#home section #spotlight div.left h3 div img{
	width: 100%;
	display: block;
}
#home section #spotlight div.left h1 {
	font-size: 104px;
    width: 75%;
}
#home section #spotlight div.left h1 span{
	color: #4895a5;
}
#home section #spotlight div.left p{
	width: 52%;
    margin-top: 45px;
    font-size: 20px;
    margin-bottom: 50px;
}
#home section #spotlight div.left a{
	background: #EA542F;
    font-size: 23px;
    font-weight: 500;
    border-radius: 6px;
    padding: 15px 35px;
    color: #fff;
}
#home section #spotlight div.left ul{
	margin-top: 60px;
	display: flex;
    margin-top: 60px;
}
#home section #spotlight div.left ul li{
	font-size: 22px;
    font-weight: 600;
    width: 34%;
}
#home section #spotlight div.left ul li h4{
	font-weight: 600;
	margin-bottom: 10px;
}
#home section #spotlight div.left ul li p2{
	font-size: 17px;
}
#home section #spotlight div.right{
	width: 32%;
    display: block;
    margin-top: 20px;
}
#home section #spotlight div.right img{
    width: 100%;
	display: block;
}
#About {
	display: flex;
	justify-content: space-between;
	padding: 120px 135px;
	align-items: center;
}
#About div.left{
	display: flex;
	justify-content: space-between;
}
#About div.left div.box{
	
}
#About div.left div.box img{
	border-radius: 20px;
}
#About div.left div.box2{
	margin-left: 50px;
	
} 
#About div.left div.box2 {
	
}
#About div.left div.box2 div.image1{
	margin-bottom: 45px;
	

}
#About div.left div.box2 div.image1 img{
	display: block;
	width: 100%;
	border-radius: 20px;
}
#About div.left div.box2 div.image2{
	

}
#About div.left div.box2 div.image2 img{
	display: block;
	width: 100%;
	border-radius: 20px;
}
#About div.right{
	width: 45%;

}
#About div.right h1{
	font-size: 80px;

}
#About div.right p{
	margin-top: 80px;
	width: 80%;
	font-size: 28px;
	margin-bottom: 66px;
	color: #747474;

}
#About div.right a.button{
	background-color: #EA542F;
	color: #fff;
	border-radius: 10px;
	padding: 17px 46px;
	font-size: 22px;
}
#middle{
	padding: 120px 135px;
	display: flex;
	justify-content: space-between;

}
#middle div.left{
	width: 48%;
	padding: 25px;
}
#middle div.left  h1{
	font-size: 70px;
    font-weight: 600;
    margin-bottom: 45px;
}
#middle div.left p{
	color: #747474;
    font-size: 26px;
    margin-bottom: 47%
}
#middle div.left img{
	width: 100%;
	display: block;
	border-radius: 20px;
}
#middle div.right{
	width: 48%;
	padding: 25px;
}
#middle div.right img{
	width: 100%;
	display: block;
	border-radius: 20px;
	margin-bottom: 150px;
}
#middle div.right h1{
	font-size: 70px;
    font-weight: 600;
    margin-bottom: 45px;
}
#middle div.right p{
	color: #747474;
    font-size: 26px;
    margin-bottom: 15%

}
#middle div.right a.button{
	background-color: #EA542F;
	color: #fff;
	border-radius: 10px;
	padding: 17px 46px;
	font-size: 22px;
}
#service{
	padding: 70px 135px;
	background-color: #f8f8f8;
	text-align: center;
}
#service div.pawprint{
	padding: 100px;
}
#service div.pawprint a{
	width: 8%;
    display: block;
    margin: 0 auto;
}
#service div.pawprint a img{
	width: 100%;
	display: block;
}
#service div.pawprint  h1{
	font-size: 65px;
    font-weight: 500;
    margin-bottom: 35px;
}
#service div.pawprint  p{
	font-size: 22px;
    margin: 0 auto;
    max-width: 56%;
	color: #747474;

}
#service ul{
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}
#service ul li{
	padding: 15px 70px;
    background-color: #fff;
    width: 24%;	
}
#service ul li a{
	width: 35%;
	display: block;
	margin-left: 77px;
	margin-bottom: 20px;
}
#service ul li a img{
	width: 100%;
	display: block;
}
#service ul li h3{
	font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
#service ul li p{
	font-size: 20px;
}
#service a.button{
	background-color: #EA542F;
	color: #fff;
	border-radius: 10px;
	padding: 17px 46px;
	font-size: 22px;
}
#partners{
	display: flex;
    padding: 115px 180px;
}
#partners section.left{
	width: 60%;
}
#partners section.left h1{
	font-size: 60px;
    font-weight: 600;
    max-width: 42%;
	margin-bottom: 20px;
}
#partners section.left p{
	font-size: 23px;
    max-width: 54%;
	margin-bottom: 65px;
}
#partners section.left a.button{
	background-color: #EA542F;
	color: #fff;
	border-radius: 10px;
	padding: 25px 46px;
	font-size: 25px;
}
#partners section.right{
	width: 40%;
}
#partners section.right ul{
	display: flex;
    flex-wrap: wrap;
	margin-bottom: 40px;
}
#partners section.right ul.two{

}
#partners section.right ul.three{

}
#partners section.right ul.four{

}
#partners section.right ul li{
	margin: 0 auto;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}
#partners section.right ul  img{
	display: block;
	width: 100%;
}
#testimonials{
	padding: 70px 135px;
}
#testimonials h1{
	font-size: 72px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}
#testimonials p{
	font-size: 25px;
    width: 65%;
    margin: 0 auto;
    text-align: center;
    line-height: 35px;
	color: #747474;
	margin-bottom: 100px;
}
#testimonials div.box{
	display: flex;
	border: 1px solid #747474;
	padding: 20px 20px;
	border-radius: 20px

}
#testimonials div.box div.left{
	width: 30%;
    display: block;
}
#testimonials div.box div.left img{
	width: 100%;
	display: block;
	border-radius: 20px;
}
#testimonials div.box div.right{
	margin-left: 20px;
    width: 70%;
	position: relative;
}
#testimonials div.box div.right .quotes2{
	position: absolute;
    top: 151px;
    right: 328px;
}
#testimonials div.box div.right .quotes2 img{
	display: block;
	width: 100%;
}
#testimonials div.box div.right p {
	width: 100%;
	text-align: initial;
}
#testimonials div.box div.right div.identity{
	position: relative;
    top: -15px;
    display: flex;
}
#testimonials div.box div.right div.identity div.profile{
	width: 80px;
}
#testimonials div.box div.right div.identity div.profile img{
	display: block;
	width: 100%;
}
#testimonials div.box div.right div.identity .name {

}
#testimonials div.box div.right div.identity .name h6{

}
#testimonials div.box div.right div.identity .name span{

}

#subscribe{
	padding: 100px 135px;
    text-align: center;
	background: #f8f8f8;

}
#subscribe a{
	display: block;
	width: 100px;
	margin: 0 auto;
}
#subscribe a img{
	display: block;
	width: 100%;
	
}
#subscribe h1{
	font-size: 85px;
    font-weight: 600;
}
#subscribe p{
	max-width: 52%;
    margin: 0 auto;
    font-size: 25px;
    color: #747474;
    margin-bottom: 52px;
}

#subscribe div.box{
} 
#subscribe div.box span{
	border: 1px solid;
    padding: 30px 100px;
    border-radius: 6px;
    padding-bottom: 25px;
    color: darkgray;
    font-size: 23px;
} 
#subscribe div.box a.button{
	color: #fff;
    background:#EA542F;
    padding: 16px 15px;
    border-radius: 8px;
    font-size: 11px;
    font-weight: 600;
    display: inline-block;
    margin-left: -26px;
	padding-bottom: 11px;	
} 
#contact{
	padding: 100px 135px;
	text-align: center;
}
#contact h1{
	font-size: 72px;
    font-weight: 600;
    margin-bottom: 40px;
}
#contact p{
	font-size: 25px;
    color: #747474;
    width: 50%;
    margin: 0 auto;
}
#contact form{
	display: flex;
}
#contact form ul.left{

}
#contact form ul.left li{

}
#contact form ul.right{

}
#contact form ul.right li{

}
#contact form ul.right li a.button{

}
#last{
	
}
#last div.picture{
	width: 30%;
    margin: 0 auto;
}
#last div.picture img{
	display: block;
	width: 100%;
}
footer{
    padding: 15px 20px;
	display: flex;
    justify-content: space-between;
	background: #f8f8f8;

}
footer div.left span{
    padding: 15px 20px;
	display: flex;
    justify-content: space-between;
    font-size: 40px;
    font-weight: 600;
    margin-left: 25px;	
}
footer nav.middle{
	padding: 20px;
}
footer nav.middle ul{
    display: flex;
    justify-content: space-between;
}
footer nav.middle ul li{
	margin-right: 82px;
    font-size: 22px;
    font-weight: 600;
}
footer  ul.right{
    display: flex;
    justify-content: space-between;
}
footer  ul.right li{
   display: block;
   margin-left: 8px;
}
footer  ul.right li a{

}
footer  ul.right li a img{

}